<h1>Game Of Thrones</h1>

<div id="inputs">
	<input id="name" placeholder="name"/>
	<input id="region" placeholder="region"/>
	<input id="words" placeholder="words"/>
	<input id="sigil" placeholder="sigil"/>
	<input id="hasDragons" placeholder="hasDragons"/>
	<button id="submit">submit</button>
</div>

<div id="titles">
	<div class="titleData">
		NAME
	</div>
	<div class="titleData">
		REGION
	</div>
	<div class="titleData">
		WORDS
	</div>
	<div class="titleData">
		SIGIL
	</div>
	<div class="titleData">
		HAS DRAGONS?
	</div>
</div>

{{#each house}}

<div id="data">
	<div>
		{{this.name}}
	</div>
	<div>
		{{this.region}}
	</div>
	<div>
		{{this.words}}
	</div>
	<div>
		{{this.sigil}}
	</div>
	<div>
		{{this.hasDragons}}
	</div>
</div>
{{/each}}